<%= link_to "Regresar", vecinos_path %>
<p>
  <strong>Nombre:</strong>
  <%= @vecino.name %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @vecino.address %>
</p>

<p>
  <strong>No. de telefono:</strong>
  <%= @vecino.phone %>
  </p>
