<style type="text/css">
  body {
  background: url('/assets/fondo.png');
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  }
</style>
<body>
  <div class="container">
	<h1 class="text-left"><strong>VECINO</strong></h1>
	<br>
	<div class="jumbotron">
	  <p> Vecino es una aplicación web que te permite crear una red de vecinos comunicados en tu colonia. </p>
	</div>
	<div class="nav" style="width:11%;">
	  <% if user_signed_in? %>
	  <li class="nav-item">
		<%= link_to('Desconectarse', destroy_user_session_path, method: :delete) %>
		<% else %>
	  <li class="nav-item">
		<%= link_to('Iniciar sesion', new_user_session_path) %>
	  <li class="nav-item">
		<%= link_to('Crear cuenta', new_user_registration_path)  %>
		<% end %>
	  <li class="nav-item">
		<%= link_to 'Ver la colonia', controller: 'vecinos' %>
	</div>

	<br>
  </div>
</body>
