<style type="text/css">
  body {
  background: url('/assets/fondo.png');
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  }
</style>
<body>
  <div class="container">
	<h1 class="display-1">VECINO</h1>
	<br>
	<div class="jumbotron">
	  <p> Vecino es una aplicación web que te permite comunicar con tus vecinos sobre todo tipo de temas. </p>
	</div>
	<br>
	<%= link_to 'Ver la colonia', controller: 'vecinos' %>
  </div>
</body>
